﻿<!--

-->
body {
	padding: 20px;
}

p {
	width: 80%;
}

h3.objective{
	border-left: 5px solid #8B0000;
	border-bottom: 1px solid #8B0000;
	width: 60%;
}

h4 {
	border-left: 5px solid #B22222;
	border-bottom: 1px solid #B22222;
	width: 60%;
}

h4.initPhase{
	border-left: 5px solid #3CB371;
	border-bottom: 1px solid #3CB371;
	width: 60%;
}

h4.phase1{
	border-left: 5px solid #008B8B;
	border-bottom: 1px solid #008B8B;
	width: 60%;
}
h4.phase1{
	border-left: 5px solid #3CB371;
	border-bottom: 1px solid #3CB371;
	width: 60%;
}
h4.phase2{
	border-left: 5px solid #556B2F;
	border-bottom: 1px solid #556B2F;
	width: 60%;
}
h4.phase3{
	border-left: 5px solid #20B2AA;
	border-bottom: 1px solid #20B2AA;
	width: 60%;
}
h4.phase4{
	border-left: 5px solid #4682B4;
	border-bottom: 1px solid #4682B4;
	width: 60%;
}
h4.phase5{
	border-left: 5px solid #8B4513;
	border-bottom: 1px solid #8B4513;
	width: 60%;
}
h4.phase6{
	border-left: 5px solid #B22222;
	border-bottom: 1px solid #B22222;
	width: 60%;
}
h4.control{
	border-left: 5px solid #B22222;
	border-bottom: 1px solid #B22222;
	width: 60%;
}
h3.custom{
	border-left: 5px solid #B22222;
	border-bottom: 1px solid #B22222;
	width: 60%;
}
h2 {
	border-left: 5px solid #4682B4;
	border-bottom: 2px solid #4682B4;
	width: 60%;
}